.button {
    background-color: gainsboro;
    padding: 30px;
    text-align: center;
    margin: 2px 2px;
    border-radius: 50%;
}

.message {
    color: "#000000";
}

.loadbutton {
    padding: 20px;
    background-color: darkgreen;
    color: whitesmoke;
    border-radius: 10px;
}
